/* body {
    font-family: 'Source Sans 3', sans-serif;
    color: #404040;
    margin: 0;
}

/* =============
    Typography
    ============== */

/* h1 {
    font-weight: 400;
}

.beta-text {
    font-weight: 900;
}

.subheading {
    color: #575757;
    font-weight: 900;
} */


/* ==============
    Intro
    ============= */


/* 
  Challenge: Style the .intro section
    - Convert into a flex container; 
      display its content in a column
    - Set a minimum height of 250px
    - Center-align its content
    - Vertically center the content
    - Remove the space around the edges of the page
*/



/* .intro {
   color: #fff;
   background-color: #9480e4; 
   display: flex;
   flex-direction: column;
   min-height: 250px;
   text-align: center;
   justify-content: center;
} */


/* ================
    Main content
    =============== */


/* 
  Challenge: Style the main content
    - Use flexbox to horizontally center all items inside 
      .main-content. The <p> text should remain left-aligned.
    - Use em to give .main-content a top padding equal to 40px
      and a left and right padding equal to 32px.
    - Set the width of .img-main to 120px and display it as a rounded image.
*/

/* .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5em;
    padding-left: 2em;
    padding-right: 2em;
}

.img-main {
    width: 120px;
    border-radius: 50%;
} */


/* ===============
    Form 
    =============== */



/* ===============
    Media Queries
    =============== */ 









/* Cleaner Code */


body {
    font-family: 'Source Sans 3', sans-serif;
    color: #404040;
    margin: 0;
}

/* =================
    Typography 
   ================= */


/* 
  Challenge: Set the initial styles for text
    - Set the h1 to a relative font-size value equal to 40px
    - Apply a text shadow to the h1 using the color value #816fca
*/

/* Challenge: Set the initial styles for text
- Set the h2 to a relative font-size value equal to 36px
- Give the h2 a top and bottom margin value in em equal to 6px 
*/

/* 
  Challenge: Set the initial styles for text
    - Set the paragraph to a relative font-size value equal to 18px
    - Set the p line-height to 1.35 times its font-size value
    - Give .subheading a bottom margin in em equal to half its font-size value
*/



h1 {
    font-size: 2.5rem;
    font-weight: 400;
    text-shadow: 0 2px #816fca;
}

h2 {
    font-size: 2.25rem;
    margin: 0.167 0; /* 6/36 = -.1667 */
}

p {
    font-size: 1.125rem;
    line-height: 1.5em;
}

.beta-text { 
    font-weight: 900;
}

.subheading {
    color: #575757;
    font-weight: 900;
    margin-bottom: 0.5em; /* Its inherited font-size is 16px */
}

/* =================
    Flex containers
   ================= */

.intro,
.main-content {
    display: flex;
    flex-direction: column;    
}

/* =================
    Intro
   ================= */

.intro { 
    justify-content: center;
    min-height: 250px;
    text-align: center;
    color: #fff;
    background-color: #9480e4;
}

/* ====================
    Main content
   ==================== */
   
/* 
  Challenge: Style the main content
    - Use flexbox to horizontally center all items inside 
      .main-content. The <p> text should remain left-aligned.
    - Use em to give .main-content a top padding equal to 40px
      and a left and right padding equal to 32px.
    - Set the width of .img-main to 120px and display it as a rounded image.
*/

.main-content {
    align-items: center;
    padding-top: 2.5em; /* 40 / 16 = 2.5 */
    padding-left: 2em; /* 32 / 16 = 2 */
    padding-right: 2em;
}

.img-main {
    width: 120px;
    border-radius: 50%;
}

/* =================
    Form
   ================= */
   

/* =================
    Media queries 
   ================= */